{% extends 'base.html' %} <!-- Indica que esta plantilla extiende de 'base.html', heredando su estructura básica -->

{% block title %}Inicio{% endblock %} <!-- Establece el título específico para esta página como "Inicio" -->

{% block content %}
<h2>Bienvenido al Sistema de Gestión de Citas Médicas</h2> <!-- Título principal en la página de inicio -->

<p>Utiliza el menú de navegación para gestionar pacientes y citas.</p> <!-- Mensaje de bienvenida y orientación para los usuarios -->

{% endblock %}
